[submodule "rambox-pro-bin"]
	path = rambox-pro-bin
	url = ssh://aur@aur.archlinux.org/rambox-pro-bin.git
[submodule "nyuu-bin"]
	path = nyuu-bin
	url = ssh://aur@aur.archlinux.org/nyuu-bin.git
[submodule "ttf-font-awesome-pro"]
	path = ttf-font-awesome-pro
	url = ssh://aur@aur.archlinux.org/ttf-font-awesome-pro.git
[submodule "bbcp-git"]
	path = bbcp-git
	url = ssh://aur@aur.archlinux.org/bbcp-git.git
